<section class="pb-16">
    <h1 class=" text-4xl  text-gray-600 text-center py-10">All categories</h1>
    <div class=" grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5 px-4">
    @for (cate of categories ; track $index) {
        <div [routerLink]="['/detailsCategories' , cate._id]" class="card border border-[#dc7633] rounded-md overflow-hidden relative hover:shadow-md hover:shadow-[#dc7633]" data-modal-target="popup-modal" data-modal-toggle="popup-modal" >
            <div class="card-img">
               <img [src]="cate.image" class=" w-full h-[300px]" alt="">
            </div>
               
                <div class="card-body px-2 py-5">
                    <h2 class=" font-medium text-gray-600 text-center">{{cate.name}}</h2>
                </div>
                    </div>
       }
    </div>

</section>
