.card{
    transition: all 0.8s;
button{
    transform:translateY(100%) ;
    transition: all 0.7s;
    opacity: 0;
}&:hover{
    button{
        transform: translateY(0);
        opacity: 1;
    }
  
}
}