<section class="flex justify-center items-center py-24  signbg">
    <div class=" w-[500px] mx-auto h-[500px] rounded-3xl shadow-lg   bg-white/30  rodtion">
      <div class=" flex items-center justify-center">
        <img src="/images/WhatsApp Image 2025-02-08 at 01.08.34_6561cfe9.jpg" alt="" width="150px" class="rounded-full -m-[70px] " srcset="">
      </div>
      <h1 class=" text-gray-900 pt-[100px] pb-5  text-center text-3xl fonnt"> Login Now</h1>
  <form [formGroup]="loginForm" (submit)="submitForm()"   class="max-w-md mx-auto">
    
    <div class="relative mb-4 px-10">
        @let EmailControl = loginForm.get('email');
      <input formControlName="email" type="email" id="input-group-1"  class="bg-gray-50 border border-[#dc7633] text-gray-900 text-sm rounded-lg focus:ring-[#dc7633] focus:border-[#dc7633] block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7633] dark:focus:border-[#dc7633]" placeholder="Your Email@gmail.com :">
      @if ( EmailControl ?.errors && EmailControl?.touched){
        <div class="flex p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                    @if (EmailControl?.getError('required')) {
                        <li>Email is required</li>
                    }@else if (EmailControl?.getError('email')) {
                    <li>inter valid Email</li>
                    }
                 
                 
              </ul>
            </div>
          </div>
      }
    </div>
    <div class="relative mb-4 px-10">
        @let passWordControl = loginForm.get('password');
    <input formControlName="password" type="password" id="input-group-1" class="bg-gray-50 border border-[#dc7633] text-gray-900 text-sm rounded-lg focus:ring-[#dc7633] focus:border-[#dc7633] block w-full  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7633] dark:focus:border-[#dc7633]" placeholder="Password :">
    @if (passWordControl?.errors && passWordControl?.touched){
        <div class="flex p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>         
                <ul class="mt-1.5 list-disc list-inside">
                    @if (passWordControl?.getError('required')) {
                        <li>passWord is required</li>
                    }@else if (passWordControl?.getError('pattern')) {
                    <li>inter valid password</li>
                    }
              </ul>
            </div>
          </div>
      }

      <div class=" flex items-center justify-end">
        <a routerLink="/forgot" class=" text-blue-500">forgot PassWord</a>
        <button [disabled]="isLoading" type="submit" class="text-white bg-gradient-to-r from-[#C76A2E] via-[#f39345] to-[#C76A2E] hover:bg-gradient-to-br  focus:outline-none  font-medium rounded-xl text-sm px-[50px] py-3 text-center block  mx-auto mt-4 ">
          @if (isLoading) {
              <span><i class="fas fa-spin fa-spinner"></i></span> 
          }
         signIn
      
      </button>
      </div>
      @if (msgError) {
          <p class=" bg-red-500 text-white px2 py-3 border">{{msgError}}</p>
      }
      @if (success) {
          <p class="bg-green-500 text-white px2 py-3 border">{{success}}</p>
      }
  </div>
 


</form>
  </div>
</section>





<!-- <section class=" h-screen min-w-full  flex justify-center items-center  signbg">
    <div class=" w-[400px] mx-auto  h-[380px] rounded-3xl shadow-lg   bg-white/30  rodtion">
      <div class=" flex items-center justify-center">
        <img src="/images/WhatsApp Image 2025-02-08 at 01.08.34_6561cfe9.jpg" alt="" width="150px" class=" rounded-full -m-[70px] " srcset="">
      </div>
      <h1 class=" text-gray-900 pt-[100px]  pb-5  text-center text-3xl font-serif">LOGIN IN</h1>
  <form   class="max-w-md mx-auto">
    <div class="relative mb-6 px-10">
      <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
        <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <i class="fa-solid fa-envelope"></i>
        </span>
      </div>
      <input type="email" id="input-group-1"  class="bg-gray-50 border border-[#dc7633] text-gray-900 text-sm rounded-lg focus:ring-[#dc7633] focus:border-[#dc7633] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7633] dark:focus:border-[#dc7633]" placeholder="Your Email@gmail.com">
  </div>
  <div class="relative mb-6 px-10">
    <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
      <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <i class="fa-solid fa-lock"></i>
      </span>
    </div>
    <input type="password" id="input-group-1" class="bg-gray-50 border border-[#dc7633] text-gray-900 text-sm rounded-lg focus:ring-[#dc7633] focus:border-[#dc7633] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7633] dark:focus:border-[#dc7633]" placeholder="Password">
  </div>

  <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br  



focus:outline-none  font-medium rounded-xl text-sm px-[50px] py-3 text-center block  mx-auto ">Login</button>
</form>
  </div>
</section> -->