<footer class=" bg-[#3B3B3B] py-10">
    <div class="w-11/12 mx-auto">
      <h2 class="m-0 text-2xl text-[#dc7633]">Get The FreshCart App</h2>
      <p class="text-[#dc7633] text-sm pb-2">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <div class="flex items-center gap-3 text-nowrap">
        <input
          type="text"
          class="w-full rounded-lg border-[#dc7633]"
          placeholder="Email"
          
        />
        <button class="btn-main bg-gradient-to-r from-[#dc7633] via-[#f4b37e] to-[#dc7633] hover:bg-gradient-to-br  py-2 px-3 rounded-xl">
          <i class="fas fa-search"></i>   Share App Link</button>
      </div>
  
      <hr />
  
      <div class="pay-details md:flex justify-between items-center my-5">
        <div class="flex items-center gap-2">
          <h3 class="text-sm m-0 text-[#dc7633]">Payment partners</h3>
          <img src="/images/amazon-pay.png" class=" bg-white p-1" width="50px" alt="" />
          <img src="/images/American-Express-Color.png" width="50px" alt="" />
          <img src="/images/paypal.png" width="50px" alt="" />
          <img src="/images/mastercard.webp" width="50px" alt="" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="h6 m-0 text-[#dc7633]">Get Deliveries with FreshCart</h3>
          <img src="/images/get-google-play.png" width="100px" alt="" />
          <img src="/images/get-apple-store.png" width="100px" alt="" />
        </div>
      </div>
    </div>
  </footer>
